{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <section id="page-header" class="section background">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
				<br>
				<br>
				<br>
				<br>
                <h3>About Us</h3>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->
<section class="section clearfix">
<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="service-style row">
                    <div class="col-md-9 col-xs-9 col-sm-9">
                        <p>Venuebooker operates from its head office in Belfast, Northern Ireland. Venuebooker is a bespoke

venue booking web portal which provides consumers with a simple, fast and reliable way to find,

compare and book the perfect venue for any occasion, without the traditional hassle of multiple time-
consuming phone calls followed by the review of an array of different venues.

Venuebooker has everything you needed to complete all their events and function requirements online

or on their smartphone, whilst venue managers in restaurants, hotels and event spaces now have a

platform to showcase and sell all their event space and related proudest and services.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    

{% endblock %}
