{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
        <section class="section clearfix">
            <div class="container">
                <div class="top-destinations clearfix">
                    <div class="hotel-title text-center">
                        </br>
                        </br>
                        <h3>EVENT CAMPAIGNS</h3>
                        <p>Our expert venue booking service is free and always matches a venue's best prices.</p>
                        <hr>
                        <form method="GET" action="">
                        <input type="text" name="q" placeholder="Search Event Campaigns"/> <input type="text" name="min" placeholder="Min Cost"/> <input type="text" name="max" placeholder="Max Cost"/>
                        <input type="submit" value="Search"/>
                        </form>
                    </div>

                    <div class="row">

                        {% for event_campaign in object_list %}
                            <div class="col-sm-4">
                                <div class="clearfix">
                                    <div class="post-media clearfix">
                                        <a href="{% url 'event_campaign_detail' event_campaign.pk %}"><img src="{{ event_campaign.image.url }}" alt=""
                                                                        class="img-responsive"></a>
                                    </div><!-- end post-media -->

                                    <div class="post-title clearfix">
                                        <div class="pull-left">
					    <h5><a href="{% url 'event_campaign_detail' event_campaign.pk %}"> {{ event_campaign.name }} </a></h5>
                                            <h6>Type: {{ event_campaign.type }}</h6>
                                            <h6>Venue: {{ event_campaign.venue }}</h6>
                                        </div>
                                    </div><!-- end ost-title -->
                                    <div class="post-content clearfix">
                                          <p>Details: {{ event_campaign.details }}</p>
					                      <p>Capacity: {{ event_campaign.capacity }}</p>
                                          <p>Cost per person: {{ event_campaign.cost_per_capacity_unit }}</p>
                                    </div><!-- end post-content -->
                                </div><!-- end post-wrapper -->
                            </div><!-- end col -->
                        {% endfor %}


                    </div><!-- end row -->
                </div><!-- end related-hotels -->
                 <div class="pagination">
                    <span class="step-links">
                    {% if object_list.has_previous %}
                        <a href="?page={{ object_list.previous_page_number }}">previous</a>
                    {% endif %}

                     <span class="current">
                        Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                     </span>

                     {% if object_list.has_next %}
                         <a href="?page={{ object_list.next_page_number }}">next</a>
                     {% endif %}
                     </span>
                 </div>

            </div><!-- end container -->
        </section><!-- end section -->

{% endblock %}
    
