{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
        <article class="parallax-slider">
            <div class="tp-banner-container">
                <div id="banner3" class="tp-banner">
                    <ul>
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="1000"
                            data-thumb="% static 'uploads/home_slider_01.jpg' %}" data-saveperformance="off" data-title="Parallax 3D">
                            <img src="{% static 'images/dummy.png' %}" alt="greenbg"
                                 data-lazyload="{% static 'uploads/home_slider_01.jpg' %}" data-bgposition="center top"
                                 data-bgfit="cover" data-bgrepeat="no-repeat" style="opacity:0.5">
                            <div class="tp-caption slider-title tp-fade tp-resizeme rs-parallaxlevel-2"
                                 data-x="center"
                                 data-y="361"
                                 data-speed="1000"
                                 data-start="800"
                                 data-easing="Power3.easeInOut"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                                VENUE BOOKING MADE EASY
                            </div>
                            <div class="tp-caption slider-title1 tp-fade tp-resizeme rs-parallaxlevel-2"
                                 data-x="center"
                                 data-y="491"
                                 data-speed="1000"
                                 data-start="1000"
                                 data-easing="Power3.easeInOut"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;height:25px">
                                Discover the perfect venue that matches</br> your needs and requirements
                            </div>
                        </li>

                        <li data-transition="slideup" data-slotamount="7" data-masterspeed="1000"
                            data-thumb="uploads/home_slider_02.jpg" data-saveperformance="off" data-title="Parallax 3D">
                            <img src="{% static 'images/dummy.png' %}" alt="greenbg"
                                 data-lazyload="{% static 'uploads/home_slider_02.jpg' %}" data-bgposition="center top"
                                 data-bgfit="cover" data-bgrepeat="no-repeat">
                            <div class="tp-caption slider-title tp-fade tp-resizeme rs-parallaxlevel-2"
                                 data-x="center"
                                 data-y="361"
                                 data-speed="1000"
                                 data-start="800"
                                 data-easing="Power3.easeInOut"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">OUR EXPERT
                                VENUE SERVICE IS FREE</br>
                            </div>
                            <div class="tp-caption slider-title1 tp-fade tp-resizeme rs-parallaxlevel-2"
                                 data-x="center"
                                 data-y="491"
                                 data-speed="1000"
                                 data-start="1000"
                                 data-easing="Power3.easeInOut"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">We gurantee
                                to always match a Venue's best prices!
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </article>

        <section class="section clearfix">
            <div class="container">
                <div class="top-destinations clearfix">
                    <div class="hotel-title text-center">
                        <h3>PERFECT VENUES FOR ALL OCCASIONS</h3>
                        <p>Our expert venue booking service is free and always matches a venue's best prices.</p>
                        <hr>
                    </div>

                    <div class="row">

                        <!-- {% for venue in venues %}
                            <div class="col-sm-4">
                                <div class="clearfix">
                                    <div class="post-media clearfix">
                                        <a href="blog-single.html"><img src="static/{{ venue.image }}" alt=""
                                                                        class="img-responsive"></a>
                                    </div><!-- end post-media -->

                                 <!--   <div class="post-title clearfix">
                                        <div class="pull-left">
                                            <h5><a href="blog-single.html">{{ venue.type }}</a></h5>
                                            <h6>{{ venue.places }} PLACES</h6>
                                        </div>
                                    </div><!-- end ost-title -->
                                   <!-- <div class="post-content clearfix">
{#                                        <p>{{ venue.description }}</p>#}
                                    </div><!-- end post-content -->
                              <!--  </div><!-- end post-wrapper -->
                          <!--  </div><!-- end col --> -->
                        <!--{% endfor %} -->


                    <!--</div><!-- end row -->
                </div><!-- end related-hotels -->

            </div><!-- end container -->
        </section><!-- end section -->
       <section class="section clearfix section-bottom">
            <div class="container">
                <div class="hotel-title">
                    <h3>OUR SERVICES FOR EVENT BOOKERS</h3>
                    <hr class="left">
                </div><!-- end hotel-title -->
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="service-style row">
                            <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                <i class="icon-hotel16"></i>
                            </div>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <h5>SIMPLE & FREE</h5>
                                <p>Venuebooker don't charge the event booker anything at all, customers simply tell us what you need and we ﬁnd you just that, plus a little extra choices you might not have though off. we also hold are venues to upholding there promise to give are customers the lowest price available  </p>
                            </div>
                        </div><!-- end service -->
                    </div><!-- end col -->
                    <div class="col-md-6 col-sm-12">
                        <div class="service-style row">
                            <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                <i class="icon-airplane51"></i>
                            </div>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <h5>CHOICE & COMPARISION </h5>
                                <p>Venuebooker takes the hassle out of calling round a dozen venues, only to ﬁnd that
                                    half are busy on the day and the other half are too expensive. Venuebooker's experts
                                    will only ﬁnd and recommend only venues that actually best suit your event needs</p>
                            </div>
                        </div><!-- end service -->
                    </div><!-- end col -->

                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <section class="section clearfix section-bottom">
            <div class="container">
                <div class="hotel-title">
                    <h3>OUR SERVICES FOR VENUES</h3>
                    <hr class="left">
                </div><!-- end hotel-title -->
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="service-style row">
                            <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                <i class="icon-hotel16"></i>
                            </div>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <h5>MORE BOOKINGS!</h5>
                                <p>Venuebooker gives venue managers the ability to bring their service based sales skills online to generate event booking revenue. Getting their venue infront of customers through their smartphones. In summary Venuebooker connects your till to the internet </p>
                            </div>
                        </div><!-- end service -->
                    </div><!-- end col -->
                    <div class="col-md-6 col-sm-12">
                        <div class="service-style row">
                            <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                <i class="icon-airplane51"></i>
                            </div>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <h5>FREE TO LIST</h5>
                                <p>List your venue for free. Venuebooker only makes you money; it will never leave you a penny out of pocket. We don't think we should earn anything unless we are responsible for money going into your till.</p>
                            </div>
                        </div><!-- end service -->
                    </div><!-- end col -->

                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->
{% endblock %}
