{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
        <article class="parallax-slider">
            <div class="tp-banner-container">
                <div id="banner3" class="tp-banner">
                    <ul>
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="1000"
                            data-thumb="% static 'uploads/home_slider_01.jpg' %}" data-saveperformance="off" data-title="Parallax 3D">
                            <img src="{% static 'images/dummy.png' %}" alt="greenbg"
                                 data-lazyload="{% static 'uploads/home_slider_01.jpg' %}" data-bgposition="center top"
                                 data-bgfit="cover" data-bgrepeat="no-repeat" style="opacity:0.5">
                            <div class="tp-caption slider-title tp-fade tp-resizeme rs-parallaxlevel-2"
                                 data-x="center"
                                 data-y="361"
                                 data-speed="1000"
                                 data-start="800"
                                 data-easing="Power3.easeInOut"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                                VENUE BOOKING MADE EASY
                            </div>
                            <div class="tp-caption slider-title1 tp-fade tp-resizeme rs-parallaxlevel-2"
                                 data-x="center"
                                 data-y="491"
                                 data-speed="1000"
                                 data-start="1000"
                                 data-easing="Power3.easeInOut"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;height:25px">
                                Discover the perfect venue that matches</br> your needs and requirements
                            </div>
                        </li>

                        <li data-transition="slideup" data-slotamount="7" data-masterspeed="1000"
                            data-thumb="uploads/home_slider_02.jpg" data-saveperformance="off" data-title="Parallax 3D">
                            <img src="{% static 'images/dummy.png' %}" alt="greenbg"
                                 data-lazyload="{% static 'uploads/home_slider_02.jpg' %}" data-bgposition="center top"
                                 data-bgfit="cover" data-bgrepeat="no-repeat">
                            <div class="tp-caption slider-title tp-fade tp-resizeme rs-parallaxlevel-2"
                                 data-x="center"
                                 data-y="361"
                                 data-speed="1000"
                                 data-start="800"
                                 data-easing="Power3.easeInOut"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">OUR EXPERT
                                VENUE SERVICE IS FREE</br>
                            </div>
                            <div class="tp-caption slider-title1 tp-fade tp-resizeme rs-parallaxlevel-2"
                                 data-x="center"
                                 data-y="491"
                                 data-speed="1000"
                                 data-start="1000"
                                 data-easing="Power3.easeInOut"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">We gurantee
                                to always match a Venue's best prices!
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </article>

        <section class="section clearfix">
            <div class="container">
                <div class="top-destinations clearfix">
                    <div class="hotel-title text-center">
                        <h3>PERFECT VENUES FOR ALL OCCASIONS</h3>
                        <p>Our expert venue booking service is free and always matches a venue's best prices.</p>
                        <hr>
                    </div>

                    <div class="row">

                        <!-- {% for venue in venues %}
                            <div class="col-sm-4">
                                <div class="clearfix">
                                    <div class="post-media clearfix">
                                        <a href="blog-single.html"><img src="static/{{ venue.image }}" alt=""
                                                                        class="img-responsive"></a>
                                    </div><!-- end post-media -->

                                 <!--   <div class="post-title clearfix">
                                        <div class="pull-left">
                                            <h5><a href="blog-single.html">{{ venue.type }}</a></h5>
                                            <h6>{{ venue.places }} PLACES</h6>
                                        </div>
                                    </div><!-- end ost-title -->
                                   <!-- <div class="post-content clearfix">
{#                                        <p>{{ venue.description }}</p>#}
                                    </div><!-- end post-content -->
                              <!--  </div><!-- end post-wrapper -->
                          <!--  </div><!-- end col --> -->
                        <!--{% endfor %} -->


                    <!--</div><!-- end row -->
                </div><!-- end related-hotels -->

            </div><!-- end container -->
        </section><!-- end section -->
{% endblock %}
