{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
        <section class="section clearfix">
            <div class="container">
                <div class="top-destinations clearfix">
                    <div class="hotel-title text-center">
                        </br>
                        </br>
                        <h3>{{ organisation.name }}</h3>
                        <p></p>
                        <hr>
                    </div>

                    <div class="row">

                            <div class="col-sm-4">
                                <div class="clearfix">
                                    <div class="post-media clearfix">
                                        <a href="#"><img src="{{ organisation.image.url }}" alt=""
                                                                        class="img-responsive"></a>
                                    </div><!-- end post-media -->

                                    <div class="post-title clearfix">
                                        <div class="pull-left">
					    <br>
					    <p>{{ organisation.address }}</p>
                        <p>{{ organisation.description }}</p>
                        <br>
                        <form action="{% url 'organisation-update' organisation.pk %}">
							{% csrf_token %}
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default">Update Organisation</button>
							</div>
						</form>
                        <br>
                        <form action="{% url 'organisation-delete' organisation.pk %}" method="post">
							{% csrf_token %}
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default">Delete Organisation</button>
							</div>
						</form>
                                        </div>
                                    </div><!-- end ost-title -->
                                    <div class="post-content clearfix">
                                    </div><!-- end post-content -->
                                </div><!-- end post-wrapper -->
                            </div><!-- end col -->

                    </div><!-- end row -->
                </div><!-- end related-hotels -->

            </div><!-- end container -->
        </section><!-- end section -->

        <section class="section clearfix section-bottom">
            <div class="container">
                <div class="hotel-title">
                    <h3>OUR SERVICES FOR EVENT BOOKERS</h3>
                    <hr class="left">
                </div><!-- end hotel-title -->
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="service-style row">
                            <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                <i class="icon-hotel16"></i>
                            </div>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <h5>SIMPLE & FREE</h5>
                                <p>Venuebooker don't charge the event booker anything at all, customers simply tell us what you need and we ﬁnd you just that, plus a little extra choices you might not have though off. we also hold are venues to upholding there promise to give are customers the lowest price available  </p>
                            </div>
                        </div><!-- end service -->
                    </div><!-- end col -->
                    <div class="col-md-6 col-sm-12">
                        <div class="service-style row">
                            <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                <i class="icon-airplane51"></i>
                            </div>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <h5>CHOICE & COMPARISION </h5>
                                <p>Venuebooker takes the hassle out of calling round a dozen venues, only to ﬁnd that
                                    half are busy on the day and the other half are too expensive. Venuebooker's experts
                                    will only ﬁnd and recommend only venues that actually best suit your event needs</p>
                            </div>
                        </div><!-- end service -->
                    </div><!-- end col -->

                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <section class="section clearfix section-bottom">
            <div class="container">
                <div class="hotel-title">
                    <h3>OUR SERVICES FOR VENUES</h3>
                    <hr class="left">
                </div><!-- end hotel-title -->
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="service-style row">
                            <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                <i class="icon-hotel16"></i>
                            </div>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <h5>MORE BOOKINGS!</h5>
                                <p>Venuebooker gives venue managers the ability to bring their service based sales skills online to generate event booking revenue. Getting there venue infant of customers through there smartphones. In summary Venuebooker connects your till to the internet </p>
                            </div>
                        </div><!-- end service -->
                    </div><!-- end col -->
                    <div class="col-md-6 col-sm-12">
                        <div class="service-style row">
                            <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                <i class="icon-airplane51"></i>
                            </div>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <h5>FREE TO LIST</h5>
                                <p>List your venue for free. Venuebooker only makes you money; it will never leave you a penny out of pocket. We don't think we should earn anything unless we are responsible for money going into your till.</p>
                            </div>
                        </div><!-- end service -->
                    </div><!-- end col -->

                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <footer class="footer clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-title">
                                <h3>NEWSLETTER</h3>
                            </div><!-- end title -->
                            <div class="newsletterwidget">
                                <p>Subscribe to our newsletter to receive news & updates. We promise not spamming you,
                                    super promise! </p>
                                <form id="newsletter" class="form-inline">
                                    <div class="form-group">
                                        <input type="text" class="form-control border-radius"
                                               placeholder="Your email here">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg border-radius">Send</button>
                                </form>
                            </div><!-- end newsletter widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </footer><!-- end copyrights -->

        <div class="copyrights clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <p>VENUEBOOKER 2016. ALL RIGHT RESERVED</p>
                    </div><!-- end col -->

                    <div class="col-md-6 text-right">
                        <div class="social-footer">
                            <a href="#" title="Facebook"><i class="icon-facebook"></i></a>
                            <a href="#" title="Twitter"><i class="icon-twitter"></i></a>
                            <a href="#" title="Pinterest"><i class="icon-pinterest"></i></a>
                            <a href="#" title="SU.PR"><i class="icon-stumbleupon"></i></a>
                            <a href="#" title="Instagram"><i class="icon-instagrem"></i></a>
                            <a href="#" title="Dribbble"><i class="icon-dribbble"></i></a>
                            <a href="#" title="Vimeo"><i class="icon-vimeo"></i></a>
                            <a href="#" title="Tumblr"><i class="icon-tumblr"></i></a>
                            <a href="#" title="RSS"><i class="icon-rss"></i></a>
                        </div><!-- end social-footer -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end copyrights -->
    </div><!-- end wrapper -->

    <!-- Template core JavaScript's
    ================================================== -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/retina.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/circle.js' %}"></script>
    <script src="{% static 'js/progress.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/parallax.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script src="{% static 'rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'js/revslider.js' %}"></script>


{% endblock %}
    
