{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <section id="page-header" class="section background">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Privacy Policy</h3>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->


    <section class="section clearfix section-bottom">
    <div class="container">
        <!--<div class="hotel-title">-->
        <!--<h3>Privacy Policy</h3>-->
        <!--<hr class="left">-->
        <!--</div>&lt;!&ndash; end hotel-title &ndash;&gt;-->
        <div class="row">
            <div class="col-md-12">
                <div class="service-style row">
                    <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                        <i class="icon-hotel16"></i>
                    </div>
                    <div class="col-md-9 col-xs-9 col-sm-9">

                        <div id="last_updated">
                            <h5>Last updated: February 06, 2017</h5>
                            <p>We want everyone to enjoy our app, but you must be over the age of 14
                                Years old to consent to the terms of our privacy policy. If you are
                                Younger than this, you must seek parental guidance before using the app.
                                By consenting to the terms of this privacy policy you are confirming that
                                You are over 14 years old.</br></br>
                                The following text is a full statement of the privacy policy of Custom Connect Ltd
                                trading
                                as
                                Venuebookers, a company registered in Northern Ireland with company number NI618097
                                and registered office at Northern Ireland Science Park Innovation Center, Queens Road,
                                Queens Island, Belfast Northern Ireland BT3 9DT( we, us, our). We are registered with
                                the
                                Information Commissioner’s Office and our registration number is [ ].</br></br>
                                We respect your privacy rights. This policy sets out the basis on which any personal
                                data we
                                collect from you, or that you provide to us, will be processed by us when you use our
                                Venuebooker app (App) and/or website at <a href="www.venuebooker.com">www.venuebooker.com</a> (Site). Please read the
                                following carefully to understand our views and practices regarding your personal data
                                and
                                how we will treat it.</br></br>
                            </p>
                        </div>

                        <div id="information">
                            <h5>Information we may collect from you</h5>
                            <p>
                                We may collect and process the following data about you:
                            </p>

                            <ul style="margin-left:60px;">
                                <li>
                                    your name, email address, telephone number, postal address, and a password which
                                    you provided us in order to create a user account, including any information you may
                                    have provided in the customer survey. This information will include personal data as
                                    defined by the Data Protection Act 1998 (the Act) as amended;
                                </li>
                                <li>
                                    information you may provide whenever you interact with the App and/or Site (User
                                    Content);
                                </li>
                                <li>
                                    details of transactions you carry out on the App and/or Site;
                                </li>
                                <li>
                                    details of your use of the App and/or Site (including, but not limited to traffic
                                    data,
                                    location data, web logs and other communication data) and the resources that you
                                    access; and
                                </li>
                                <li>
                                    any other information you may provide from time to time in relation to any customer
                                    surveys we may ask you to carry out.
                                </li>
                            </ul>
                            <br><br>
                        </div>

                        <div id="ips">

                            <h5> IP Addresses and Cookies</h5>
                            <p>
                                We may collect information about your hardware, including, where available, your IP
                                address, operating system and browser type, for system administration and to report
                                aggregate information to any businesses providing content on our App and/or Site. This
                                is
                                statistical data about our users’ browsing actions and patterns, and does not identify
                                any
                                individual.</br></br>

                                For the same reason, when you access our App and/or Site, we may obtain information
                                about your general internet usage by using a cookie file which is stored on the hard
                                drive
                                of
                                your hardware. Cookies contain information that is transferred to your hardware’s hard
                                drive. They help us to improve our App and/or Site and to deliver a better and more
                                personalised service. We may only run cookies that are essential to the running of the
                                App
                                and/or Site, otherwise we must obtain your consent. By using the App and/or Site, you
                                are
                                consenting to our use of non-essential cookies. For more information on the cookies and
                                how to disable them we use please see below: www.allaboutcookies.org.</br></br>

                                The table below explains the non-essential cookies we use and why
                            </p>

                            <table class="table" style="margin-left:40px;">
                                <thead>
                                <tr style="font-weight:bold;">
                                    <th>Owner Cookie</th>
                                    <th>Cookie Name</th>
                                    <th>Cookie Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Google Analytics</td>
                                    <td>_utma</td>
                                    <td>This keeps track of the number of times a visitor has been to the site, when
                                        their
                                        first visit was, and when their last visit occurred.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Google Analytics</td>
                                    <td>_utma</td>
                                    <td>This creates a timestamp of the exact moment when a visitor enters site.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Google Analytics</td>
                                    <td>_utma</td>
                                    <td>This creates a timestamp of the exact moment when a visitor leaves the site.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Google Analytics</td>
                                    <td>_utma</td>
                                    <td>This is used for reporting in Google Analytics classifying the visitor.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Google Analytics</td>
                                    <td>_utma</td>
                                    <td>This is set by Google Maps when you load a map of our location.
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <p>
                                Please note that the venues may also use cookies, over which we have no
                                control.
                            </p>
                            </br></br>
                        </div>

                        <div id="stored_data">

                            <h5> Where we store your personal data</h5>
                            <p>
                                The data that we collect from you may be transferred to, and stored at, a destination
                                outside the European Economic Area (EEA). It may also be processed by staff operating
                                outside the EEA, who works for us or for one of our suppliers. </br></br>

                                Please note that some places outside of the EEA may offer lower levels of data
                                protection than the UK. By submitting your personal data, you agree to this
                                transfer,
                                storing or processing. We will take all steps reasonably necessary to ensure that
                                your
                                data is treated securely and in accordance with this privacy policy.</br></br>

                                You should not use the App and/or Site if you do not consent to your data being
                                stored outside the EEA. By using the App and/or Site you are agreeing that you have
                                understood and consented to our transferral and storage of your data. If you wish to
                                withdraw your consent please notify us by emailing us at
                                <a href="mailto:info@venuebooker.com?Subject=Contact"
                                   target="_top">info@venuebooker.com</a>..</br></br>

                                Unfortunately, the transmission of information via the internet is not completely
                                secure.Although we will do our best to protect your personal data, we cannot guarantee
                                the
                                security of your data transmitted via our App and/or Site; any transmission is at your
                                own risk. Once we have received your information, we will use appropriate procedures and
                                security features to try to prevent unauthorised access..</br></br>
                            </p>

                        </div>

                        <div id="data_usage">
                            <h5>USES WE MAY MAKE OF YOUR INFORMATION</h5>
                            <p>We use information held about you in the following ways:
                            <p>

                            <ul style="margin-left:60px;">
                                <li>
                                    to carry out our obligations arising from your use of the App and/or Site;
                                </li>
                                <li>
                                    to allow you to use the App and/or Site and also to participate in any other
                                    interactive features(including social media) of our App and/or Site, where you
                                    choose to do so;
                                </li>
                                <li>
                                    to allow you to use the App and/or Site and also to participate in any other
                                    interactive features(including social media) of our App and/or Site, where you
                                    choose to do so;
                                </li>
                                <li>
                                    to ensure that content from our App and/or Site is presented in the most effective
                                    manner for you and for your hardware;
                                </li>
                                <li>
                                    to notify you about changes to the App and/or Site; and
                                </li>
                                <li>
                                    to provide you with information, products or services which we feel may interest
                                    you. Where we do send you any marketing or promotional literature, we will always
                                    give you the chance to unsubscribe to this feature from then on.
                                </li>
                            </ul>
                            <br>

                            <p>
                                By accepting the terms of this privacy policy you are consenting to the various uses of
                                your information described above by us. However, if you wish to withdraw your
                                consent at any time, please notify us by emailing us at <a
                                    href="mailto:info@venuebooker.com?Subject=Contact" target="_top">info@venuebooker.com</a>.
                                Please
                                note that if you do withdraw your consent we may be unable to provide some or all of
                                our services, and/or the use of the App and/or Site to you, and you accept and
                                acknowledge that we have no liability to you in any such event.
                            </p>
                            <br><br>
                        </div>

                        <div id="disclosure">
                            <h5>DISCLOSURE OF YOUR INFORMATION TO THIRD PARTIES</h5>
                            <p>We may disclose your personal information to any member of our group.<br><br>
                                We may disclose your personal information to third parties for the following purposes:
                            <p>

                            <ul style="margin-left:60px;">
                                <li>
                                    in the event that we sell or buy any business or assets, in which case we may
                                    disclose your personal data to the prospective seller or buyer of such business or
                                    assets;
                                </li>
                                <li>
                                    if we or substantially all of our assets are acquired by a third party, in which
                                    case,
                                    personal data held by us about you may be one of the transferred assets; and
                                </li>
                                <li>
                                    if we are under a duty to disclose or share your personal data in order to comply
                                    with any legal obligation, or in order to enforce or apply our terms of use and
                                    other
                                    agreements or to protect the operation of our website, or the rights, property, or
                                    safety of us, our customers, or others. This includes exchanging information with
                                    other companies and organisations for the purposes of fraud protection and credit
                                    risk reduction.
                                </li>
                            </ul>
                            <br>

                            <p>
                                We may also sell your information to carefully selected third parties who may contact
                                you with details of their products and/or services that may be of interest to you. This
                                may include, but will not be limited to alternative venues and marketing firms.<br><br>
                                By accepting the terms of this privacy policy, you are accepting to this use of your
                                information. If you wish to withdraw your consent at any time, please notify us by
                                emailing us at <a href="mailto:info@venuebooker.com?Subject=Contact" target="_top">info@venuebooker.com</a>.
                                Please note that if you do withdraw your
                                consent we may be unable to provide some or all of our services, and/or the use of the
                                App and/or Site to you, and you accept and acknowledge that we have no liability to
                                you in any such event.
                            </p>
                            <br><br>
                        </div>

                        <div id="changes">
                            <h5>CHANGES TO OUR PRIVACY POLICY</h5>
                            <p>Any changes we may make to our privacy policy in the future will be posted on this page
                                and, where appropriate, notified to you by e-mail.
                            </p>
                            <br><br>
                        </div>

                        <div id="contact">
                            <h5>CONTACT</h5>
                            <p>Questions, comments and requests regarding this privacy policy are welcomed and should
                                be addressed to <a href="mailto:info@venuebooker.com?Subject=Contact" target="_top">info@venuebooker.com</a>.
                            </p>
                        </div>

                    </div>


                </div>
            </div><!-- end service -->

        </div><!-- end col -->

    </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->

{% endblock %}
