{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
        <section class="section clearfix">
            <div class="container">
                <div class="top-destinations clearfix">
                    <div class="hotel-title text-center">
                    <br>
                    <br>
                        <h3>PROFILE</h3>
                        <p></p>
                        <hr>
                    </div>

                    <div class="row">

                            <div class="col-sm-4">
                                <div class="clearfix">
                                    <div class="post-title clearfix">
                                        <div class="pull-left">
				{% if user.avatar %}
                            		<a href="#"><img src="{{ user.avatar.url }}" alt="" class="img-responsive"></a>
				{% endif %}
                            <h4>{{ user.first_name }} {{ user.last_name }}</h4>
				            <p><i>{{ user.username }}</i></p>
                            <p>{{ user.email }}</p>
					    <br>
                        <br>
                        <br>
			<form action="{% url 'profile-update' user.pk %}"> 
				{% csrf_token %} 
-				<div class="col-sm-offset-2 col-sm-10"> 
				<button type="submit" class="btn btn-default">Update Profile</button> 
				</div> 
			</form> 
                                        </div>
                                    </div><!-- end post-title -->
                                    <div class="post-content clearfix">
                                    </div><!-- end post-content -->
                                </div><!-- end post-wrapper -->
                            </div><!-- end col -->

                    </div><!-- end row -->
                <div class="row">

                   <div class="col-sm-12">
                      <div class="clearfix">
                        <h3>Enquiries</h3>
                        <table class="table table-hover">
                            <tr>
                                <th>Event</th>
                                <th>Date</th>
                                <th>Number of Attendees</th>
                                <th>Message</th>
                            </tr>
                        {% for enquiry in user.enquiry_set.all %} 
                            <tr>
                                <td>{{ enquiry.event_campaign }}</td>
                                <td>{{ enquiry.date }}</td>
                                <td>{{ enquiry.attendeeNum }}</td>
                                <td>{{ enquiry.message }}</td>
                            </tr>
                        {% endfor %}
                        </table>
                      </div>
                  </div><!-- end col -->
                </div>
                <div class="row">
                   <div class="col-sm-12">
                      <div class="clearfix">
                        <h3>Quotes</h3>
                        <table class="table table-hover">
                            <tr>
                                <th>Event</th>
                                <th>Date</th>
                                <th>Number of Attendees</th>
                                <th>Message</th>
                                <th>Cost</th>
                            </tr>
                        {% for enquiry in user.enquiry_set.all %} 
                           {% if enquiry.quote %}
                            <tr>
                                <td>{{ enquiry.event_campaign }}</td>
                                <td>{{ enquiry.date }}</td>
                                <td>{{ enquiry.attendeeNum }}</td>
                                <td>{{ enquiry.quote.description }}</td>
                                <td>{{ enquiry.quote.cost }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </table>
                      </div>
                  </div><!-- end col -->

                    </div><!-- end row -->
                </div><!-- end related-hotels -->

            </div><!-- end container -->
        </section><!-- end section -->
{% endblock %}
    
