{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
        <section class="section clearfix">
            <div class="container">
                <div class="top-destinations clearfix">
                    <div class="hotel-title text-center">
                        <h3>VENUE DASHBOARD</h3>
                        <hr>
                    </div>

                    <div class="row">

                        {% for event_campaign in object_list %}
                            <div class="col-sm-4">
                                <div class="clearfix">
                                    <div class="post-media clearfix">
                                        <a href="{% url 'event_campaign_detail' event_campaign.pk %}"><img src="{{ event_campaign.image.url }}" alt=""
                                                                        class="img-responsive"></a>
                                    </div><!-- end post-media -->

                                    <div class="post-title clearfix">
                                        <div class="pull-left">
				            <h4><a href="{% url 'event_campaign_detail' event_campaign.pk %}">{{ event_campaign.name }}</a></h4>
                                            <h5>{{ event_campaign.type }}</h5>
                                        </div>
                                    </div><!-- end ost-title -->
                                    <div class="post-content clearfix">
                                    </div><!-- end post-content -->
                                </div><!-- end post-wrapper -->
                            </div><!-- end col -->
                        {% endfor %}

                    </div><!-- end row -->
                </div><!-- end related-hotels -->

            </div><!-- end container -->
        </section><!-- end section -->
{% endblock %}
    
