{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
        <section class="section clearfix">
            <div class="container">
                <div class="top-destinations clearfix">
                    <div class="hotel-title text-center">
                        </br>
                        </br>
                        <h3>{{ venue.name }}</h3>
                        <p></p>
                        <hr>
                    </div>

                    <div class="row">

                            <div class="col-sm-4">
                                <div class="clearfix">
                                    <div class="post-media clearfix">
                                        <a href="#"><img src="{{ venue.image.url }}" alt=""
                                                                        class="img-rounded" width="100%" height="300" ></a>
                                    </div><!-- end post-media -->
                                </div><!-- end post-wrapper -->
                            </div><!-- end col -->

                        <div class="col-sm-4">
                                <div class="clearfix">
                                    <div class="post-title clearfix">
                                        <div class="pull-left">
                            <h4>Address: {{ venue.address }}</a></h4>
					    <br>
					    <p>{{ venue.description }}</p>
                        <a href="{{ venue.facebook_link }}">Facebook</a>
                        <a href="{{ venue.twitter_link }}">Twitter</a>
                        <a href="{{ venue.instagram_link }}">Instagram</a>
                        <br>
                                        </div>
                                    </div><!-- end ost-title -->
                                    <div class="post-content clearfix">
                                    </div><!-- end post-content -->
                                </div><!-- end post-wrapper -->
                            </div><!-- end col -->

                    </div><!-- end row -->
					<br>
					<br>
					<div class="row">
					<h5><u>Images</u></h5>
                        {% for image in venue.venueimage_set.all %} 
						<div class="col-sm-4">
							<div class="clearfix">
                                    <div class="post-media clearfix">
                            <img src="{{ image.image.url }}" alt="" class="img-thumbnail" width="100%" height="300" />
								</div>
								</div>
						</div>
                        {% endfor %}
					</div>
					<br>
					<br>
				    <div class="row">
						<h3>Event campaigns at {{ venue.name }}</h3>
                        {% for event_campaign in event_list %}
                            <div class="col-sm-4">
                                <div class="clearfix">
                                    <div class="post-media clearfix">
                                        <a href="{% url 'event_campaign_detail' event_campaign.pk %}"><img src="{{ event_campaign.image.url }}" alt=""class="img-rounded" width="100%" height="300"></a>
                                    </div><!-- end post-media -->

                                    <div class="post-title clearfix">
                                        <div class="pull-left">
					    <h5><a href="{% url 'event_campaign_detail' event_campaign.pk %}"> {{ event_campaign.name }} </a></h5>
                                            <h6>Type: {{ event_campaign.type }}</h6>
                                            <h6>Venue: {{ event_campaign.venue }}</h6>
                                        </div>
                                    </div><!-- end ost-title -->
                                    <div class="post-content clearfix">
					                      <p>Capacity: {{ event_campaign.capacity }}</p>
                                          <p>Cost per person: {{ event_campaign.cost_per_capacity_unit }}</p>
                                    </div><!-- end post-content -->
                                </div><!-- end post-wrapper -->
                            </div><!-- end col -->
                        {% endfor %}


                    </div><!-- end row -->
                </div><!-- end related-hotels -->

            </div><!-- end container -->
        </section><!-- end section -->

{% endblock %}
    
