{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div id="loader">
        <div class="loader-container">
            <h3 class="loader-back-text"><img src="{% static 'images/loader.gif' %}" alt="" class="loader"></h3>
        </div>
    </div>

    <div id="wrapper">

        <div class="topbar">
            <div class="container">
                <div class="pull-left">
                    <ul class="topbar-drops list-inline">
                        <!-- <li><i class="icon-telephone5"></i> 028-3833-1122</li> -->
                    </ul><!-- end list-style -->
                </div><!-- end left -->
                <div class="pull-right">
                    <ul class="topbar-social list-inline">
                        <li><a href="https://twitter.com/Venuebooker"><i class="icon-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/Venuebooker.info"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/2749848"><i class="icon-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/venuebooker_/"><i class="icon-flickr"></i></a></li>
                        <li><a href="/login">MY ACCOUNT</a></li>
                        <li><a href="/login">LOGIN</a></li>
                    </ul><!-- end list-style -->
                </div><!-- end right -->
            </div><!-- end container -->
        </div><!-- end topbar -->

        <header class="header fixedheader">
            <div class="menu-container">
                <div class="container">
                    <div class="menu-wrapper">
                        <nav id="navigation" class="navbar" role="navigation">
                            <div class="navbar-inner">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                                            data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <i class="icon-menu27"></i>
                                    </button>
                                    <a id="brand" class="clearfix navbar-brand" href="/index.html"><img
                                            src="{% static 'images/vblogo.jpg' %}" alt="Trips"
                                            style="width: 208px;padding-top: 10px;"></a>
                                </div><!-- end navbar-header -->
                                <div id="navbar-collapse" class="navbar-right navbar-collapse collapse clearfix">
                                    <ul class="nav navbar-nav yamm">
                                        <li class="dropdown">
                                            <a href="/index">HOME</a>
                                        </li><!-- end yamm-fw -->
                                        <li>
                                            <a href="#">ASK AN EXPERT</a>
                                        </li>
                                        <li>
                                            <a href="#">CONTACT</a>
                                        </li>
					<li>
                                            <a href="/venues" class="active dropdown-toggle" data-toggle="dropdown">VENUES</a>
                                        </li>
					<li>
                                            <a href="/eventcampaigns">EVENT CAMPAIGNS</a>
                                        </li>
                                        <li class="sidebar-dropper">
                                            <a data-toggle="sidebar" data-target=".sidebar-right" class="noborder"
                                               href="#">
                                                <i class="icon-menu27"></i>
                                            </a>
                                        </li>
                                    </ul><!-- end navbar-right -->
                                </div><!-- end navbar-callopse -->
                            </div><!-- end navbar-inner -->
                        </nav><!-- end navigation -->
                    </div><!-- menu wrapper -->
                </div><!-- end container -->
            </div><!-- end menu-container -->
            <div class="sidebar-menu-container">
                <div class="col-sm-2 col-md-2 sidebar sidebar-right sidebar-animate">
                    <a data-toggle="sidebar" data-target=".sidebar-right" class="text-right" href="#"><i
                            class="icon-wrong6-1"></i></a>
                    <img src="{% static 'images/vblogo.jpg' %}" alt="Venuebooker">
                    <ul class="nav navbar-stacked">
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="#">Forums</a></li>
                        <li><a href="page-sidebar.html">Terms Usage</a></li>
                        <li><a href="blog.html">News / Blog</a></li>
                    </ul>
                </div>
            </div><!-- end sidebar menu -->
        </header><!-- end header -->

        <article class="parallax-slider">
            <div class="tp-banner-container">
                <div id="banner3" class="tp-banner">
                    <ul>
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="1000"
                            data-thumb="% static 'uploads/home_slider_01.jpg' %}" data-saveperformance="off" data-title="Parallax 3D">
                            <img src="{% static 'images/dummy.png' %}" alt="greenbg"
                                 data-lazyload="{% static 'uploads/home_slider_01.jpg' %}" data-bgposition="center top"
                                 data-bgfit="cover" data-bgrepeat="no-repeat" style="opacity:0.5">
                            <div class="tp-caption slider-title tp-fade tp-resizeme rs-parallaxlevel-2"
                                 data-x="center"
                                 data-y="361"
                                 data-speed="1000"
                                 data-start="800"
                                 data-easing="Power3.easeInOut"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                                VENUE BOOKING MADE EASY
                            </div>
                            <div class="tp-caption slider-title1 tp-fade tp-resizeme rs-parallaxlevel-2"
                                 data-x="center"
                                 data-y="491"
                                 data-speed="1000"
                                 data-start="1000"
                                 data-easing="Power3.easeInOut"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;height:25px">
                                Discover the perfect venue that matches</br> your needs and requirements
                            </div>
                        </li>

                        <li data-transition="slideup" data-slotamount="7" data-masterspeed="1000"
                            data-thumb="uploads/home_slider_01.jpg" data-saveperformance="off" data-title="Parallax 3D">
                            <img src="{% static 'images/dummy.png' %}" alt="greenbg"
                                 data-lazyload="{% static 'uploads/home_slider_01.jpg' %}" data-bgposition="center top"
                                 data-bgfit="cover" data-bgrepeat="no-repeat">
                            <div class="tp-caption slider-title tp-fade tp-resizeme rs-parallaxlevel-2"
                                 data-x="center"
                                 data-y="361"
                                 data-speed="1000"
                                 data-start="800"
                                 data-easing="Power3.easeInOut"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">OUR EXPERT
                                VENUE SERVICE IS FREE</br>
                            </div>
                            <div class="tp-caption slider-title1 tp-fade tp-resizeme rs-parallaxlevel-2"
                                 data-x="center"
                                 data-y="491"
                                 data-speed="1000"
                                 data-start="1000"
                                 data-easing="Power3.easeInOut"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">We gurantee
                                to always match a Venue's best prices!
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </article>

        <section class="section clearfix">
            <div class="container">
                <div class="top-destinations clearfix">
                    <div class="hotel-title text-center">
                        <h3>PERFECT VENUES FOR ALL OCCASIONS</h3>
                        <p>Our expert venue booking service is free and always matches a venue's best prices.</p>
                        <hr>
                    </div>

                    <div class="row">

                            <div class="col-sm-4">
                                <div class="clearfix">
                                    <div class="post-media clearfix">
                                        <a href="#"><img src="{{ venue.image.url }}" alt=""
                                                                        class="img-responsive"></a>
                                    </div><!-- end post-media -->

                                    <div class="post-title clearfix">
                                        <div class="pull-left">
				            <h4>{{ venue.name }}</a></h4>
                                            <h5>{{ venue.type }}</h5>
					    <br>
					    <p>{{ venue.description }}</p>
                        <br>
                        <form action="{% url 'venue-delete' %}" method="post">
							{% csrf_token %}
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default">Delete</button>
							</div>
						</form>
                                        </div>
                                    </div><!-- end ost-title -->
                                    <div class="post-content clearfix">
                                    </div><!-- end post-content -->
                                </div><!-- end post-wrapper -->
                            </div><!-- end col -->

                    </div><!-- end row -->
                </div><!-- end related-hotels -->

            </div><!-- end container -->
        </section><!-- end section -->

        <section class="section clearfix section-bottom">
            <div class="container">
                <div class="hotel-title">
                    <h3>OUR SERVICES FOR EVENT BOOKERS</h3>
                    <hr class="left">
                </div><!-- end hotel-title -->
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="service-style row">
                            <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                <i class="icon-hotel16"></i>
                            </div>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <h5>SIMPLE & FREE</h5>
                                <p>Venuebooker don't charge the event booker anything at all, customers simply tell us what you need and we ﬁnd you just that, plus a little extra choices you might not have though off. we also hold are venues to upholding there promise to give are customers the lowest price available  </p>
                            </div>
                        </div><!-- end service -->
                    </div><!-- end col -->
                    <div class="col-md-6 col-sm-12">
                        <div class="service-style row">
                            <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                <i class="icon-airplane51"></i>
                            </div>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <h5>CHOICE & COMPARISION </h5>
                                <p>Venuebooker takes the hassle out of calling round a dozen venues, only to ﬁnd that
                                    half are busy on the day and the other half are too expensive. Venuebooker's experts
                                    will only ﬁnd and recommend only venues that actually best suit your event needs</p>
                            </div>
                        </div><!-- end service -->
                    </div><!-- end col -->

                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <section class="section clearfix section-bottom">
            <div class="container">
                <div class="hotel-title">
                    <h3>OUR SERVICES FOR VENUES</h3>
                    <hr class="left">
                </div><!-- end hotel-title -->
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="service-style row">
                            <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                <i class="icon-hotel16"></i>
                            </div>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <h5>MORE BOOKINGS!</h5>
                                <p>Venuebooker gives venue managers the ability to bring their service based sales skills online to generate event booking revenue. Getting there venue infant of customers through there smartphones. In summary Venuebooker connects your till to the internet </p>
                            </div>
                        </div><!-- end service -->
                    </div><!-- end col -->
                    <div class="col-md-6 col-sm-12">
                        <div class="service-style row">
                            <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                <i class="icon-airplane51"></i>
                            </div>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <h5>FREE TO LIST</h5>
                                <p>List your venue for free. Venuebooker only makes you money; it will never leave you a penny out of pocket. We don't think we should earn anything unless we are responsible for money going into your till.</p>
                            </div>
                        </div><!-- end service -->
                    </div><!-- end col -->

                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <footer class="footer clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-title">
                                <h3>NEWSLETTER</h3>
                            </div><!-- end title -->
                            <div class="newsletterwidget">
                                <p>Subscribe to our newsletter to receive news & updates. We promise not spamming you,
                                    super promise! </p>
                                <form id="newsletter" class="form-inline">
                                    <div class="form-group">
                                        <input type="text" class="form-control border-radius"
                                               placeholder="Your email here">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg border-radius">Send</button>
                                </form>
                            </div><!-- end newsletter widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </footer><!-- end copyrights -->

        <div class="copyrights clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <p>VENUEBOOKER 2016. ALL RIGHT RESERVED</p>
                    </div><!-- end col -->

                    <div class="col-md-6 text-right">
                        <div class="social-footer">
                            <a href="#" title="Facebook"><i class="icon-facebook"></i></a>
                            <a href="#" title="Twitter"><i class="icon-twitter"></i></a>
                            <a href="#" title="Pinterest"><i class="icon-pinterest"></i></a>
                            <a href="#" title="SU.PR"><i class="icon-stumbleupon"></i></a>
                            <a href="#" title="Instagram"><i class="icon-instagrem"></i></a>
                            <a href="#" title="Dribbble"><i class="icon-dribbble"></i></a>
                            <a href="#" title="Vimeo"><i class="icon-vimeo"></i></a>
                            <a href="#" title="Tumblr"><i class="icon-tumblr"></i></a>
                            <a href="#" title="RSS"><i class="icon-rss"></i></a>
                        </div><!-- end social-footer -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end copyrights -->
    </div><!-- end wrapper -->

    <!-- Template core JavaScript's
    ================================================== -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/retina.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/circle.js' %}"></script>
    <script src="{% static 'js/progress.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/parallax.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script src="{% static 'rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'js/revslider.js' %}"></script>


{% endblock %}
    
