{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
        <section class="section clearfix">
            <div class="container">
                <div class="top-destinations clearfix">
                    <div class="hotel-title text-center">
                        </br>
                        </br>
                        <h3>{{ venue.name }}</h3>
                        <p></p>
                        <hr>
                    </div>

                    <div class="row">

                            <div class="col-sm-4">
                                <div class="clearfix">
                                    <div class="post-media clearfix">
                                        <a href="#"><img src="{{ venue.image.url }}" alt=""
                                                                        class="img-rounded" width="100%" height="300" ></a>
                                    </div><!-- end post-media -->

                                    <div class="post-title clearfix">
                                        <div class="pull-left">
                            <h4>Address: {{ venue.address }}</a></h4>
					    <br>
					    <p>{{ venue.description }}</p>
                        <h5>Facebook: {{ venue.facebook_link }}</h5>
                        <h5>Twitter: {{ venue.twitter_link }}</h5>
                        <h5>Instagram: {{ venue.instagram_link }}</h5>
                        <br>
                                        </div>
                                    </div><!-- end ost-title -->
                                    <div class="post-content clearfix">
                                    </div><!-- end post-content -->
                                </div><!-- end post-wrapper -->
                            </div><!-- end col -->

                    </div><!-- end row -->
                </div><!-- end related-hotels -->

            </div><!-- end container -->
        </section><!-- end section -->

{% endblock %}
    
