{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
        <section class="section clearfix">
            <div class="container">
                <div class="top-destinations clearfix">
                    <div class="hotel-title text-center">
                        <h3>Edit Profile</h3>
                        <hr>
                    </div>

                    <div class="row">
			<div class ="col-sm-8 col md-7">
				<div class ="panel panel-default">
					<div class ="panel-body">
						<form class ="form-horizontal" action="" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							{% include 'web_app/form-template_user.html' %}
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary btn-lg border-radius">Update</button>
							</div>
						</form>
					</div>
				</div>
			</div>

                </div>

            </div><!-- end container -->
        </section><!-- end section -->
{% endblock %}
