{% load form_tags %}
{% for field in user_form %}
	<div class="form-group">
		<label class="control-label col-sm-2">{{ field.label_tag }}</label>
		<div class="col-sm-10">{{ field|addclass:"form-control" }}</div>
		<div class="col-sm-offset-2 col-sm-10">
			<span class="text-danger small">{{ field.err }}</span>
		</div>
	</div>

{% endfor %}
{% for field in contact_form %}
	<div class="form-group">
		<label class="control-label col-sm-2">{{ field.label_tag }}</label>
		{% if field.label_tag not "Avatar:" %}
		<div class="col-sm-10">{{ field|addclass:"form-control" }}</div>
		{% else %}
		<div class="col-sm-10">{{ field }}</div>
		{% endif %}
		<div class="col-sm-offset-2 col-sm-4">
			<span class="text-danger small">{{ field.err }}</span>
		</div>
	</div>

{% endfor %}
