{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
        <article class="parallax-slider">
            <div class="tp-banner-container">
                <div id="banner3" class="tp-banner">
                    <ul>
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="1000"
                            data-thumb="% static 'uploads/home_slider_01.jpg' %}" data-saveperformance="off" data-title="Parallax 3D">
                            <img src="{% static 'images/dummy.png' %}" alt="greenbg"
                                 data-lazyload="{% static 'uploads/home_slider_01.jpg' %}" data-bgposition="center top"
                                 data-bgfit="cover" data-bgrepeat="no-repeat" style="opacity:0.5">
                            <div class="tp-caption slider-title tp-fade tp-resizeme rs-parallaxlevel-2"
                                 data-x="center"
                                 data-y="361"
                                 data-speed="1000"
                                 data-start="800"
                                 data-easing="Power3.easeInOut"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                                VENUE BOOKING MADE EASY
                            </div>
                            <div class="tp-caption slider-title1 tp-fade tp-resizeme rs-parallaxlevel-2"
                                 data-x="center"
                                 data-y="491"
                                 data-speed="1000"
                                 data-start="1000"
                                 data-easing="Power3.easeInOut"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;height:25px">
                                Discover the perfect venue that matches</br> your needs and requirements
                            </div>
                        </li>

                        <li data-transition="slideup" data-slotamount="7" data-masterspeed="1000"
                            data-thumb="uploads/home_slider_02.jpg" data-saveperformance="off" data-title="Parallax 3D">
                            <img src="{% static 'images/dummy.png' %}" alt="greenbg"
                                 data-lazyload="{% static 'uploads/home_slider_02.jpg' %}" data-bgposition="center top"
                                 data-bgfit="cover" data-bgrepeat="no-repeat">
                            <div class="tp-caption slider-title tp-fade tp-resizeme rs-parallaxlevel-2"
                                 data-x="center"
                                 data-y="361"
                                 data-speed="1000"
                                 data-start="800"
                                 data-easing="Power3.easeInOut"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">OUR EXPERT
                                VENUE SERVICE IS FREE</br>
                            </div>
                            <div class="tp-caption slider-title1 tp-fade tp-resizeme rs-parallaxlevel-2"
                                 data-x="center"
                                 data-y="491"
                                 data-speed="1000"
                                 data-start="1000"
                                 data-easing="Power3.easeInOut"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">We gurantee
                                to always match a Venue's best prices!
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </article>

        <section class="section clearfix">
            <div class="container">
                <div class="top-destinations clearfix">
                    <div class="hotel-title text-center">
                        <h3>Login</h3>
                        <hr>
                    </div>

                    <div class="row">
			<div class ="col-sm-12 col md-7">
				<div class ="panel panel-default">
					<div class ="panel-body">
                        {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                        {% endif %}
						<form class ="form-horizontal" role="form" action="{% url 'login_user'%}" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="form-group">
		                    <label class="control-label col-sm-2" for="id_username">Username</label>
		                    <div class="col-sm-10">
                                <input id="id_username" maxlength="30" name="username" type="text">
                            </div>
	                        </div>
                            <div class="form-group">
		                    <label class="control-label col-sm-2" for="id_password">Password</label>
		                    <div class="col-sm-10">
                                <input id="id_password" maxlength="30" name="password" type="password">
                            </div>
	                        </div>
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-success">Submit</button>
							</div>
						</form>
                    </div>
                    <div class="panel-footer">
                        Don't have an account? <a href="{% url 'register' %}">Click here</a> to register.
                        </br>
                        <a href="{% url "social:begin" "google-oauth2" %}">
                        <img src="{% static 'images/btn_google_signin_light_normal_web.png' %}" >
                        </a>
                        </br>
                        <a href="{% url "social:begin" "facebook" %}">
                        <img src="{% static 'images/facebook.png' %}" >
                        </a>
                        </br>
                        <a href="{% url "social:begin" "twitter" %}">
                        <img src="{% static 'images/twitter.png' %}" >
                        </a>
                    </div>
				</div>
			</div>

                </div><!-- end related-hotels -->

            </div><!-- end container -->
        </section><!-- end section -->

        <section class="section clearfix section-bottom">
            <div class="container">
                <div class="hotel-title">
                    <h3>OUR SERVICES FOR EVENT BOOKERS</h3>
                    <hr class="left">
                </div><!-- end hotel-title -->
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="service-style row">
                            <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                <i class="icon-hotel16"></i>
                            </div>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <h5>SIMPLE & FREE</h5>
                                <p>Venuebooker don't charge the event booker anything at all, customers simply tell us what you need and we ﬁnd you just that, plus a little extra choices you might not have though off. we also hold are venues to upholding there promise to give are customers the lowest price available  </p>
                            </div>
                        </div><!-- end service -->
                    </div><!-- end col -->
                    <div class="col-md-6 col-sm-12">
                        <div class="service-style row">
                            <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                <i class="icon-airplane51"></i>
                            </div>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <h5>CHOICE & COMPARISION </h5>
                                <p>Venuebooker takes the hassle out of calling round a dozen venues, only to ﬁnd that
                                    half are busy on the day and the other half are too expensive. Venuebooker's experts
                                    will only ﬁnd and recommend only venues that actually best suit your event needs</p>
                            </div>
                        </div><!-- end service -->
                    </div><!-- end col -->

                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <section class="section clearfix section-bottom">
            <div class="container">
                <div class="hotel-title">
                    <h3>OUR SERVICES FOR VENUES</h3>
                    <hr class="left">
                </div><!-- end hotel-title -->
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="service-style row">
                            <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                <i class="icon-hotel16"></i>
                            </div>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <h5>MORE BOOKINGS!</h5>
                                <p>Venuebooker gives venue managers the ability to bring their service based sales skills online to generate event booking revenue. Getting their venue infront of customers through their smartphones. In summary Venuebooker connects your till to the internet </p>
                            </div>
                        </div><!-- end service -->
                    </div><!-- end col -->
                    <div class="col-md-6 col-sm-12">
                        <div class="service-style row">
                            <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                <i class="icon-airplane51"></i>
                            </div>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <h5>FREE TO LIST</h5>
                                <p>List your venue for free. Venuebooker only makes you money; it will never leave you a penny out of pocket. We don't think we should earn anything unless we are responsible for money going into your till.</p>
                            </div>
                        </div><!-- end service -->
                    </div><!-- end col -->

                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <footer class="footer clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-title">
                                <h3>NEWSLETTER</h3>
                            </div><!-- end title -->
                            <div class="newsletterwidget">
                                <p>Subscribe to our newsletter to receive news & updates. We promise not spamming you,
                                    super promise! </p>
                                <form id="newsletter" class="form-inline">
                                    <div class="form-group">
                                        <input type="text" class="form-control border-radius"
                                               placeholder="Your email here">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg border-radius">Send</button>
                                </form>
                            </div><!-- end newsletter widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </footer><!-- end copyrights -->

        <div class="copyrights clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <p>VENUEBOOKER 2016. ALL RIGHT RESERVED</p>
                    </div><!-- end col -->

                    <div class="col-md-6 text-right">
                        <div class="social-footer">
                            <a href="https://www.facebook.com/Venuebooker.info" title="Facebook"><i class="icon-facebook"></i></a>
                            <a href="https://twitter.com/Venuebooker" title="Twitter"><i class="icon-twitter"></i></a>
                            <a href="https://in.pinterest.com/v6606/" title="Pinterest"><i class="icon-pinterest"></i></a>
                            <!--<a href="#" title="SU.PR"><i class="icon-stumbleupon"></i></a> -->
                            <a href="https://www.instagram.com/venuebooker_/" title="Instagram"><i class="icon-instagrem"></i></a>
                            <!--<a href="#" title="Dribbble"><i class="icon-dribbble"></i></a>
                            <a href="#" title="Vimeo"><i class="icon-vimeo"></i></a> -->
                            <a href="http://venuebookerblog.tumblr.com/" title="Tumblr"><i class="icon-tumblr"></i></a>
                            <a href="#" title="RSS"><i class="icon-rss"></i></a>
                        </div><!-- end social-footer -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end copyrights -->
    </div><!-- end wrapper -->

    <!-- Template core JavaScript's
    ================================================== -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/retina.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/circle.js' %}"></script>
    <script src="{% static 'js/progress.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/parallax.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script src="{% static 'rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'js/revslider.js' %}"></script>


{% endblock %}
