{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
        <section class="section clearfix">
            <div class="container">
                <div class="top-destinations clearfix">
                    <div class="hotel-title text-center">
                        <h3>Register</h3>
                        <hr>
                    </div>

                    <div class="row">
			<div class ="col-sm-12 col md-7">
				<div class ="panel panel-default">
					<div class ="panel-body">
						<form class ="form-horizontal" action="" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							{% include 'web_app/form-template.html' %}
                            <div class="form-group">
		                        <div class="col-sm-offset-2 col-sm-10">
			                    <span class="text-danger small"></span>
		                    </div>
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-success">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>

                </div><!-- end related-hotels -->

            </div><!-- end container -->
        </section><!-- end section -->

        <section class="section clearfix section-bottom">
            <div class="container">
                <div class="hotel-title">
                    <h3>OUR SERVICES FOR EVENT BOOKERS</h3>
                    <hr class="left">
                </div><!-- end hotel-title -->
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="service-style row">
                            <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                <i class="icon-hotel16"></i>
                            </div>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <h5>SIMPLE & FREE</h5>
                                <p>Venuebooker don't charge the event booker anything at all, customers simply tell us what you need and we ﬁnd you just that, plus a little extra choices you might not have though off. we also hold are venues to upholding there promise to give are customers the lowest price available  </p>
                            </div>
                        </div><!-- end service -->
                    </div><!-- end col -->
                    <div class="col-md-6 col-sm-12">
                        <div class="service-style row">
                            <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                <i class="icon-airplane51"></i>
                            </div>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <h5>CHOICE & COMPARISION </h5>
                                <p>Venuebooker takes the hassle out of calling round a dozen venues, only to ﬁnd that
                                    half are busy on the day and the other half are too expensive. Venuebooker's experts
                                    will only ﬁnd and recommend only venues that actually best suit your event needs</p>
                            </div>
                        </div><!-- end service -->
                    </div><!-- end col -->

                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <section class="section clearfix section-bottom">
            <div class="container">
                <div class="hotel-title">
                    <h3>OUR SERVICES FOR VENUES</h3>
                    <hr class="left">
                </div><!-- end hotel-title -->
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="service-style row">
                            <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                <i class="icon-hotel16"></i>
                            </div>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <h5>MORE BOOKINGS!</h5>
                                <p>Venuebooker gives venue managers the ability to bring their service based sales skills online to generate event booking revenue. Getting their venue infront of customers through their smartphones. In summary Venuebooker connects your till to the internet </p>
                            </div>
                        </div><!-- end service -->
                    </div><!-- end col -->
                    <div class="col-md-6 col-sm-12">
                        <div class="service-style row">
                            <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                <i class="icon-airplane51"></i>
                            </div>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <h5>FREE TO LIST</h5>
                                <p>List your venue for free. Venuebooker only makes you money; it will never leave you a penny out of pocket. We don't think we should earn anything unless we are responsible for money going into your till.</p>
                            </div>
                        </div><!-- end service -->
                    </div><!-- end col -->

                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->
{% endblock %}
