{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<section id="page-header" class="section background">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                     <h3>CREATE YOUR VENUE</h3>
               <p>List your venue for free. Venuebooker only makes you money; it will never leave you a penny out of pocket.</p>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->
        <section class="section clearfix">
            <div class="container">
                <div class="top-destinations clearfix">

                    <div class="row">
			<div class ="col-sm-12 col md-7">
				<div class ="panel panel-default">
					<div class ="panel-body">
						<form class ="form-horizontal" action="" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							{% include 'web_app/form-template.html' %}
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-success">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>

                </div><!-- end related-hotels -->

            </div><!-- end container -->
        </section><!-- end section -->
{% endblock %}
