{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
        <section class="section clearfix">
            <div class="container">
                <div class="top-destinations clearfix">
                    <div class="hotel-title text-center">
						<br>
						<br>
                        <h3>CREATE YOUR VENUE</h3>
                        <p>List your venue for free. Venuebooker only makes you money; it will never leave you a penny out of pocket.</p>
                        <hr>
                    </div>

                    <div class="row">
			<div class ="col-sm-12 col md-7">
				<div class ="panel panel-default">
					<div class ="panel-body">
						<form class ="form-horizontal" action="" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							{% include 'web_app/form-template.html' %}
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-success">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>

                </div><!-- end related-hotels -->

            </div><!-- end container -->
        </section><!-- end section -->
{% endblock %}
