<!DOCTYPE HTML>
<html>
<head>
<title>Venuebooker Newsletter</title>


</head>
<body>
<div class="email-background" style="background:#eeeeee;padding: 10px;">

<div class="email-container" style="max-width:500px;background: white;font-family: sans-serif;margin: 0 auto;overflow: hidden;border-radius: 5px;text-align: center;">

<a href="venuebooker-app.herokuapp.com">
<img src="http://venuebooker-app.herokuapp.com/static/images/vblogo.jpg" style="width: 80%; margin:0 auto;">
</a>
<br>
<h1>You have signed up for the Venuebooker Newsletter</h1>


<br>

<p>Hi {{ email }}!<p>
<br>
<p>Thank you for signing up to our Newsletter, it will be sent out each month to tell you about all the offers going on and any excting new developments in the Venuebooker community.</p>

<div class="cta" style="margin: 20px;">
<a href="venuebooker-app.herokuapp.com/event-campaigns" style="text-decoration: none;display: inline-block;background:#3d87f5;color: white;padding: 10px 20px 10px;border-radius: 5px;">Browse Events</a>
</div>

<p>Regards,</p>

<p>The Venuebooker Team</p> 

</div>
<div class="footer">
Venuebooker | <a href="">Unsubscribe</a>
</div>
</body>




</html>
