<!DOCTYPE HTML>
<html>
<head>
<title>Venuebooker Newsletter</title>


</head>
<body>
<div class="email-background" style="background:#eeeeee;padding: 10px;">

<div class="email-container" style="max-width:500px;background: white;font-family: sans-serif;margin: 0 auto;overflow: hidden;border-radius: 5px;text-align: center;">
<h1>Quote Received!</h1>

<a href="venuebooker-app.herokuapp.com">
<img src="{% static 'images/vblogo.jpg' %}" style="max-width: 100%;">
</a>

<p>Hi {{ name }}!<p>
<br>
<p>You have recieved a Quote from {{ venue }} for the enquiry you made</p>

<div class="cta" style="margin: 20px;">
<a href="venuebooker-app.herokuapp.com/profile" style="text-decoration: none;display: inline-block;background:#3d87f5;color: white;padding: 10px 20px 10px;border-radius: 5px;">View the quote now!</a>
</div>

<p>Regards,</p>

<p>The Venuebooker Team</p> 

</div>
<div class="footer-junk">
Venuebooker | <a href="">Unsubscribe</a>
</div>
</body>




</html>
